html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.controls__container {
    width: 600px;
    display: flex;
    flex-direction: column;

    .controls__controls {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        input {
            height: 30px;
        }
    }

    .controls__controls__searchInput {
        display:flex;
        flex-direction: column;
    }
}

.controls__main {
    width: 100vw;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    clip-path: ellipse(90% 100% at 50% 0%);
    position: absolute;
    top: -18.5vh;
    z-index: 2;
    transition: transform 1s;
    h1 {
        color: white;
        font-size: 2em;
    }
    &.active {
        transform: translateY(18.5vh);
    }

    
}

.controls__hide__pip {
    background-color: white;
    position: absolute;
    bottom: 0.5vh;
    left: 50%;
    width: 50px;
    height: 5px;
    content: '';
    border-radius: 8px;
    cursor: pointer;
}

.controls__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        flex-wrap: wrap;
    width: 40%;
    
    label {
        color: white;
        display: flex;
        align-items: center;
        width: 100px;
        margin-top: -4px;
    }

    

}

