@font-face {
    font-family: 'satansminions';
    src: url('../../lib/satam___-webfont.woff2') format('woff2'),
         url('../../lib/satam___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adequateextra_light';
    src: url('../../lib/adequate-extralight-webfont.woff2') format('woff2'),
         url('../../lib/adequate-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
    user-select: none;
    line-height: 0.65em;
    width: 113px;
    margin: 0 auto;
    margin-top: 0.4em;
    position: relative;

    .logo {
        font-family: 'satansminions';
        font-weight:  700;
        display: block;
        font-size: 1.5em;
        color: gold;
        text-shadow: -2px -2px 0 red, 2px -2px 0 red, 2px 2px 0 red, 2px 2px 0 red, -2px 2px 0 red;
    }
    .subtitle {
        font-family: 'adequateextra_light';
        font-size: 0.3em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &::after {
        content: '';
        height: 1px;
        background-color: white;
        width: 111px;
        position: absolute;
        bottom: 3px;
        left: 0;
    }
}


.controls__container {
    width: 600px;
    display: flex;
    flex-direction: column;

    .controls__controls {
        margin-top: 1%;
        display: flex;
        justify-content: space-between;
        input {
            height: 30px;
        }
    }
    .inputWrapper {
        position: relative;
    }
    .controls__controls__searchInput {
        margin: 0 auto;
    .controls__controls__searchInput__input {
        font-family: 'adequateextra_light';
        font-weight: 700;
        color: white;
        border: 1px solid #ccc; 
        height: 30px;
        padding: 7px 14px; 
        transition: 1s all ease; 
        background: transparent;
        position: relative;
        width: 250px;
        &:focus, &:not(:placeholder-shown) {
            border: 1px solid gold;
            outline-width: 5px;
            outline-color: rgba(255,215,0,1);
            background-color: rgba(255,215,0,0.2);
            //box-shadow: 0 0 5px gold;
            animation: shadowglow 2s infinite ease-in-out alternate;
        }
        & ~ .input__focusBorder:before, & ~ .input__focusBorder:after, & ~ .input__focusBorder i:before, & ~ .input__focusBorder i:after {
            content: '';
            position: absolute;
            height: 2px;
            background-color: gold;
        }
        & ~ .input__focusBorder:before {
            top: 0;
            left: 0;
            width: 0px;
        }

        & ~ .input__focusBorder:after {
            bottom: 0;
            right: 0;
            width: 0px;
        }

        &:focus ~ .input__focusBorder:before, &:not(:placeholder-shown) ~ .input__focusBorder:before {
            width: 250px;
            transition: 0.5s;
        }

        &:focus ~ .input__focusBorder:after, &:not(:placeholder-shown) ~ .input__focusBorder:after {
            width: 250px;
            transition: 0.5s;
        }

        & ~ .input__focusBorder i:before {
            width: 2px;
            height: 0px;
            left: 0;
            top: 0;
        }

        & ~ .input__focusBorder i:after {
            width: 2px;
            height: 0px;
            right: 0;
            top: auto;
            bottom: 0;
        }

        &:focus ~ .input__focusBorder i:before, &:not(:placeholder-shown) ~ .input__focusBorder i:before {
            height: 30px;
            transition: 0.5s;
        }

        &:focus ~ .input__focusBorder i:after, &:not(:placeholder-shown) ~ .input__focusBorder i:after {
            height: 30px;
            transition: 0.5s;
        }


    }



    }
}

.controls__main {
    width: 100vw;
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    clip-path: ellipse(90% 100% at 50% 0%);
    position: absolute;
    top: -18vh;
    z-index: 2;
    transition: transform 1s;
    h1 {
        color: white;
        font-size: 2em;
        text-align: center;
    }
    &.active {
        transform: translateY(18vh);
    }

    
}

.controls__hide__pip {
    background-color: white;
    position: absolute;
    bottom: 0.5vh;
    left: calc(50% - 25px);
    width: 50px;
    height: 5px;
    content: '';
    border-radius: 8px;
    cursor: pointer;
}

.controls__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        flex-wrap: wrap;
    width: 40%;
    font-family: 'adequateextra_light';
    font-size: 0.7em;
    font-weight: 700;
    
   

    label {
        color: white;
        display: flex;
        align-items: center;
        width: 100px;
        margin-top: -4px;
    }
}


.pretty {
    margin-bottom: 5px;
}

.pretty input:checked ~ div label {
    color: gold !important;
    transition: 1.5s;
}


.pretty input:checked ~ div label::before {
    border-color: gold !important;
    outline-width: 3px;
    outline-color: gold;
    //box-shadow: 0 0 5px gold;
    animation: shadowglow 2s ease-in-out infinite alternate;
}



@keyframes shadowglow {
    0% {
        box-shadow: 0 0 5px gold, 0 0 5px gold;
    }
    100% {
        box-shadow: 0 0 5px gold, 0 0 15px gold;
    }
}