.cardTable {
  background: url('./magic.jpg');
  background-position: center;
  background-position-y: -15vh;
  background-color: burlywood;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20vh;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }
} 

.leftArrow,
.rightArrow {
  width: 50px;
  height: 50px;
  background-color: black;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 30% 50%);
  align-self: center;
  margin-bottom: 100px;
background: #0a0809; /* Old browsers */
animation: 2s arrowfloat infinite alternate ease-in-out;
 
background: linear-gradient(to bottom, #ffea32 0%,#ccc100 4%,#ffea30 50%,#897900 53%,#ccc100 100%);
}
.leftArrow__placeholder, .rightArrow__placeholder {
  padding-top: 50px;

  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftArrow {
  
  transform: rotate(180deg);
  margin-right: 10px;
background: #0a0809; /* Old browsers */

background: linear-gradient(to bottom, #ccc100 0%,#897900 47%,#ffea30 50%,#ccc100 96%,#ffea32 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */

}
.rightArrow {
  margin-left: 10px;

}

.arrowWrapper {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.cards {
  padding-top: 50px;
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

}

.card {
  justify-content: center;
  align-items: center;
  border: 0.5px dashed black;
  background-image: url('./back.jpg');
  width: 147px;
  height: 205px;
  background-size: cover;
  border-radius: 10px;
  transform: translatey(0px);
  // animation: float 3s ease-in-out infinite alternate;
  // animation-delay: var(--animDelay);
  z-index: 1;
  text-align: center;
  img {
    width: 100%; height: auto; 
  }
  &:hover {
    z-index: 2;
  }
}

.card__wrapper {
  position: relative;
  z-index:1;
}

.curtain {
  position: fixed;
  margin-top: -20vh;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.detail__container {
  display: flex;
  margin: auto 10%;
  max-width: 600px;
}

.detail__card {
  border-radius: 12px;
  width: 223px;
  height: 310px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.detail__text {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 12px;
  padding: 10px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  & p {
    margin-top: 10px;
  }
  & h2 {
    margin-top: 10px;
  }
  & .detail__text__flavorText {
    justify-self: flex-end;
    font-style: italic;
  }
  & .mana {
    margin-left: 3px;
    margin-right: 3px;
    display: inline-flex;
  }
  & .detail__text__text {
    margin-top: 10px;
  }
}

.detail__text__header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.detail__text__header__mana {
  display: flex;
}

.mana, .icon {
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-size: cover;
  display: inline-block;
  margin-left: 2px;
}

.icon__tap {
  background-image: url(tapIcon.png);
}

.colorlessMana {
  background: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 10px;
}
.greenMana {
  background-image: url(greenMana.png);
}

.redMana {
  background-image: url(redMana.png);
}
.whiteMana {
  background-image: url(whiteMana.png);
}
.blueMana {
  background-image: url(blueMana.png);
}
.blackMana {
  background-image: url(blackMana.png);
}


@media screen and (max-width: 800px) {
  .detail__container {
    flex-direction: column;
    align-items: center;
  }
  
}

@keyframes arrowfloat {
  0% {
    margin-top: -5px;
  }
  100% {
    margin-top: 5px;
  }
}